<div class="outer">
  <div class="middle">
    <div class="inner alert-modal-inner">
      <div class="alert-modal {{alertType}}" tabindex="-1">
        <h6 class="alert-title">{{title}}</h6>
        <p>{{message}}</p>
        <div class="alert-footer">
          {{#if rightButton}}
            {{link-button label=rightButton.label action=rightButton.action target=rightButton.target type='tiny' customClass="right"}}
          {{/if}}
          {{#if leftButton}}
            {{link-button label=leftButton.label action=leftButton.action target=leftButton.target type='tiny' customClass="left"}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
