<div class="cal-title row">
  <div class="col-xs-6 cal-title-left">
    <div class="cal-title-date">{{date}}</div>
    <div class="cal-title-month">{{monthName}}</div>
  </div>
  <div class="col-xs-6 cal-title-right">
    <div class="row">
      <div class="col-xs-6 cal-title-cn-year">
        {{cnCalendar.stemBranch}}
        {{cnCalendar.animal}}
      </div>
      <div class="col-xs-6 cal-title-year">
        {{year}}
      </div>
    </div>
    <ul class="cal-title-monthes row">
      {{#each monthOptions as |option index|}}
        <li class="col-sm-2 col-xs-4 {{cal-selected-month index month 'sel'}}" {{action 'selectMonth' index}}>
          {{option}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="cal-body row">
  <table class="col-xs-12">
    <thead>
      <tr>
        {{#each weekOptions as |option index|}}
          <td class="{{is-gt index 4 'cal-holiday'}}">{{option}}</td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each weekDates as |weekDate|}}
        <tr>
          {{#each weekDate as |d index|}}
            <td class="{{cal-holiday index}} {{cal-next-month d.dateArray selectedDay}} {{cal-past-month d.dateArray selectedDay}} {{is-equals d.dateArray today 'cal-today'}} {{is-equals d.dateArray selectedDay 'cal-sel-date'}}" {{action 'selectDate' d}}><span data-year="{{d.gregorianYear}}" data-month="{{d.gregorianMonth}}" data-date="{{d.gregorianDate}}" data-cn-date="{{d.cnDate}}"></span></td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
