{{#if primaryAction}}
  <a class='button' {{action 'clickButton' primaryAction}}>
    {{#if primaryAction.leftIcon}}<i class="fa {{primaryAction.leftIcon}}"></i>{{/if}}
    {{primaryAction.label}}
    {{#if primaryAction.rightIcon}}<i class="fa {{primaryAction.rightIcon}}"></i>{{/if}}
  </a>
{{else}}
  <a class='button'>{{label}}</a>
{{/if}}
<a class='button toggle' {{action 'toggle'}}></a>
{{!-- options is dropdown button collections --}}
<ul class='dropdown'>
  {{#each optionsWithoutPrimaryAction as |option index|}}
    <li>
      <a {{action 'clickButton' option}}>
        {{#if option.leftIcon}}<i class="fa {{option.leftIcon}}"></i>{{/if}}
        {{option.label}}
        {{#if option.rightIcon}}<i class="fa {{option.rightIcon}}"></i>{{/if}}
      </a>
    </li>
  {{/each}}
</ul>
