{{textarea}}
<div class="mardown-preview {{if isEditting 'hidden' 'block'}}">{{markdown-preview body=body}}</div>
<div class="utilbars">
  <button style="cursor:pointer;" class="button {{if isEditting 'toggle-preview' 'toggle-edit'}}" {{action 'toggle'}}></button>
</div>
