<div class="container" style="padding: 15px;">
  <div class="row page-header">
    <div class="pure-u-1-2">
      {{bread-crumbs breadcrumbs=breadcrumbs breadcrumbHome=breadcrumbHome}}
    </div>
    <div class="pure-u-1-2">
      {{cw-button content=alertButton color="green"}}
      {{cw-button content=confirmButton color="blue"}}
    </div>
  </div>
  <div class="row">
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="sidebar">
        <div class="nav">
          <div class="nav-header">
            <h3>{{#link-to 'index'}}Dummy{{/link-to}}</h3>
          </div>
          <ul class="nav-stacked">
            <li>{{#link-to 'checkbox'}}Checkbox{{/link-to}}</li>
            <li>{{#link-to 'button'}}Button{{/link-to}}</li>
            <li>{{#link-to 'dropbutton'}}Drop Button{{/link-to}}</li>
            <li>{{#link-to 'picker'}}Picker{{/link-to}}</li>
            <li>{{#link-to 'todos'}}CW{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-3-4">
      <div class="content">{{outlet}}</div>
    </div>
  </div>
</div>

{{alert-modal title=title message=message type=type buttons=buttons isActive=isActive}}
