<div style="height:60px;">
  <div><span class="label label-primary">Link Button</span></div>
  {{link-button label="huge" type="huge" action="save"}}
  {{link-button label="large" type="large" action="save"}}
  {{link-button label="regular"}}
  {{link-button label="small" type="small" action="save"}}
  {{link-button label="tiny" type="tiny" action="save"}}
  {{link-button label="disabled" isDisabled=true action="save"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Default Button</span></div>
  {{cw-button leftIcon="fa-user" label="Button" action="save"}}
  {{cw-button label="Button" shape="round"}}
  {{cw-button label="Button" shape="left"}}
  {{cw-button label="Button" shape="right"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Red Button</span></div>
  {{cw-button label="Button" color="red"}}
  {{cw-button label="Button" shape="round" color="red"}}
  {{cw-button label="Button" shape="left" color="red"}}
  {{cw-button label="Button" rightIcon="fa-user" shape="right" color="red"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Blue Button</span></div>
  {{cw-button label="Button" color="blue"}}
  {{cw-button label="Button" shape="round" color="blue"}}
  {{cw-button label="Button" shape="left" color="blue"}}
  {{cw-button label="Button" leftIcon="fa-user" shape="right" color="blue"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Green Button</span></div>
  {{cw-button label="Button" color="green"}}
  {{cw-button label="Button" shape="round" color="green"}}
  {{cw-button label="Button" shape="left" color="green"}}
  {{cw-button label="Button" rightIcon="fa-user" shape="right" color="green"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Disbaled Button</span></div>
  {{cw-button label="Button" isDisabled=true}}
  {{cw-button label="Button" shape="round" color="red" isDisabled=true}}
  {{cw-button label="Button" leftIcon="fa-user" shape="left" color="blue" isDisabled=true}}
  {{cw-button label="Button" shape="right" color="green" isDisabled=true}}
</div>
