<div style="height:60px;">
  <div><span class="label label-primary">Link Button</span></div>
  {{link-button content=hugeContent type="huge"}}
  {{link-button content=largeContent type="large"}}
  {{link-button content=regularContent}}
  {{link-button content=smallContent type="small"}}
  {{link-button content=tinyContent type="tiny"}}
  {{link-button content=regularContent isDisabled=true}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Default Button</span></div>
  {{cw-button content=buttonContent}}
  {{cw-button content=buttonContent shape="round"}}
  {{cw-button content=buttonContent shape="left"}}
  {{cw-button content=buttonContent shape="right"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Red Button</span></div>
  {{cw-button content=buttonContent color="red"}}
  {{cw-button content=buttonContent shape="round" color="red"}}
  {{cw-button content=buttonContent shape="left" color="red"}}
  {{cw-button content=buttonContent shape="right" color="red"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Blue Button</span></div>
  {{cw-button content=buttonContent color="blue"}}
  {{cw-button content=buttonContent shape="round" color="blue"}}
  {{cw-button content=buttonContent shape="left" color="blue"}}
  {{cw-button content=buttonContent shape="right" color="blue"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Green Button</span></div>
  {{cw-button content=buttonContent color="green"}}
  {{cw-button content=buttonContent shape="round" color="green"}}
  {{cw-button content=buttonContent shape="left" color="green"}}
  {{cw-button content=buttonContent shape="right" color="green"}}
</div>

<div style="height:60px;">
  <div><span class="label label-primary">Disbaled Button</span></div>
  {{cw-button content=buttonContent isDisabled=true}}
  {{cw-button content=buttonContent shape="round" color="red" isDisabled=true}}
  {{cw-button content=buttonContent shape="left" color="blue" isDisabled=true}}
  {{cw-button content=buttonContent shape="right" color="green" isDisabled=true}}
</div>
