<div class="">
  {{input value=addValue}}
  <button class="button" disabled={{buttonDisabled}} {{action 'add'}}>Add</button>
</div>
<div class="row">
  <ul class="todo-list">
    {{#each todo in model}}
      <li>
        {{input type="checkbox" checked=todo.isCompleted}}
        {{todo.title}}
        <i class="fa fa-times pointer" {{action 'del' todo}}></i>
      </li>
    {{/each}}
  </ul>
</div>
